*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background-color: transparent;
  user-select: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

::selection {
  background-color: $primary-color;
  color: $secondary-color;
}